html {
  box-sizing: border-box; }

*, *:before,
*:after {
  box-sizing: inherit; }

@font-face {
  font-family: "helvetica-neue-roman";
  src: url("../fonts/helvetica_neue_roman.eot");
  src: url("../fonts/helvetica_neue_roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_neue_roman.woff") format("woff"), url("../fonts/helvetica_neue_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "helvetica-neue-medium";
  src: url("../fonts/helvetica_neue_med.eot");
  src: url("../fonts/helvetica_neue_med.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_neue_med.woff") format("woff"), url("../fonts/helvetica_neue_med.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "helvetica-neue-bold";
  src: url("../fonts/helvetica_neue_bold.eot");
  src: url("../fonts/helvetica_neue_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_neue_bold.woff") format("woff"), url("../fonts/helvetica_neue_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "helvetica-stretched";
  src: url("../fonts/helvetica_neue_stretched.eot");
  src: url("../fonts/helvetica_neue_bold.stretched?#iefix") format("embedded-opentype"), url("../fonts/helvetica_neue_stretched.woff") format("woff"), url("../fonts/helvetica_neue_stretched.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
section {
  clear: both;
  overflow: hidden; }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  max-width: 1140px; }

body {
  position: relative;
  z-index: 1; }

h2 {
  color: #50308d;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font: 700 36px/1em "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif; }

p {
  font-family: "helvetica-neue-roman", "helvetica neue", Helvetica, sans-serif; }

p.lead {
  width: 78%;
  margin: 26px auto;
  font: 400 18px/24px "helvetica-neue-roman", "helvetica neue", Helvetica, sans-serif;
  text-align: center; }
  p.lead strong {
    font-family: "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif;
    color: #50308d; }

.button-group {
  text-align: center;
  position: relative;
  margin-top: 6px; }
  .button-group .btn.btn-apply {
    height: 50px;
    width: 280px; }
  .button-group .btn.btn-apply {
    background-color: #a7268e;
    color: #ffffff;
    text-transform: uppercase;
    font: 700 20px/1em "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif;
    display: inline-block;
    border-radius: 5px;
    padding: 14px 0 14px 0;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 6px;
    margin-bottom: 6px; }
    .button-group .btn.btn-apply:hover, .button-group .btn.btn-apply:focus {
      color: #ffffff;
      background-color: #a7268e;
      outline: 0; }
  .button-group .btn-shadow {
    border-radius: 10px;
    background-color: #51318c;
    position: absolute;
    display: inline-block; }
  .button-group small {
    display: block;
    text-align: center;
    font: 300 19px "helvetica-neue-roman", "helvetica neue", Helvetica, sans-serif;
    padding: 6px 0 0 0;
    color: #808080; }
    .button-group small.smaller {
      font-size: 16px;
      color: #949393; }

.button-group.button-group-mobile {
  margin-top: -42px; }

.navbar.navbar-default {
  background-color: #ffffff;
  border-width: 0;
  left: 0;
  top: 0;
  border-radius: 0;
  width: 100%;
  z-index: 4; }
  .navbar.navbar-default .navbar-header {
    height: 80px; }
  .navbar.navbar-default .navbar-brand {
    padding-top: 14px;
    width: auto;
    height: auto; }
    .navbar.navbar-default .navbar-brand img {
      width: 188px;
      display: inline-block;
      margin-right: 10px; }
  .navbar.navbar-default ul.nav.navbar-nav {
    text-align: right; }
    .navbar.navbar-default ul.nav.navbar-nav > li > a {
      font: 400 15px/19px "helvetica neue", Helvetica, sans-serif;
      color: #464646;
      text-transform: uppercase;
      height: 80px;
      padding: 30px 18px;
      letter-spacing: 1px; }
      .navbar.navbar-default ul.nav.navbar-nav > li > a:hover {
        background-color: transparent; }
      .navbar.navbar-default ul.nav.navbar-nav > li > a:active, .navbar.navbar-default ul.nav.navbar-nav > li > a:focus {
        border-width: 0;
        outline: 0; }
  .navbar.navbar-default .navbar-right .btn-apply {
    margin-top: 20px;
    marging-bottom: 20px; }

section.page-hero {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6d9ec+0,ffffff+100 */
  background: #f6d9ec;
  background: -moz-linear-gradient(top, #f6d9ec 0%, white 100%);
  background: -webkit-linear-gradient(top, #f6d9ec 0%, white 100%);
  background: linear-gradient(to bottom, #f6d9ec 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d9ec', endColorstr='#ffffff',GradientType=0 );
  height: 448px;
  padding-top: 80px;
  color: #ffffff;
  border-bottom: 3px solid #edeaf3; }
  section.page-hero .hero-card {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px; }
    section.page-hero .hero-card img {
      max-width: 742px;
      display: inline-block;
      width: 742px;
      margin-left: -72px; }
  section.page-hero .hero-headline {
    text-align: center;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0; }
  section.page-hero h1 {
    color: #50308d;
    font: 400 46px/1em "helvetica-stretched";
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 4px; }
    section.page-hero h1 small {
      display: block;
      color: #50308d;
      font: 100 30px/1em "helvetica neue", Helvetica, sans-serif;
      text-transform: none;
      letter-spacing: 1px;
      margin-bottom: 14px; }
  section.page-hero p {
    color: #50308d;
    font: 400 19px/1.2em "helvetica-neue-roman", "helvetica neue", Helvetica, sans-serif;
    margin-bottom: 30px; }
section.page-herobenes {
  background-color: #f8f7f2; }
  section.page-herobenes .bene {
    text-align: center;
    padding: 40px 10px;
    position: relative; }
  section.page-herobenes h2 {
    font: 24px/26px "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif;
    color: #50308d;
    height: 54px; }
  section.page-herobenes p {
    font: 19px/24px "helvetica-neue-roman", "helvetica neue", Helvetica, sans-serif;
    margin: 0;
    color: #000000; }
  section.page-herobenes .bene-companion {
    width: 30%;
    padding-left: 20px;
    padding-right: 20px; }
  section.page-herobenes .bene-bag {
    width: 41%;
    padding-left: 20px;
    padding-right: 20px; }
  section.page-herobenes .bene-miles {
    width: 29%;
    padding-left: 20px;
    padding-right: 0; }
  section.page-herobenes .bene-companion:before,
  section.page-herobenes .bene-bag:before {
    content: "";
    height: 240px;
    width: 1px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 8px; }
section.page-morebenes {
  padding: 60px 0 80px 0; }
  section.page-morebenes h2 {
    color: #50308d;
    text-align: center;
    margin-bottom: 54px; }
  section.page-morebenes .box {
    border: 2px solid #fae9f4;
    padding: 40px; }
  section.page-morebenes ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; }
    section.page-morebenes ul li {
      text-align: center;
      height: 260px;
      margin-bottom: 20px; }
      section.page-morebenes ul li img {
        display: block;
        clear: both;
        width: 100px;
        margin: auto;
        opacity: 0.7; }
      section.page-morebenes ul li strong {
        font: 700 24px/40px "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif;
        font-weight: bold; }
      section.page-morebenes ul li p {
        font: 400 18px/28px "helvetica-neue-roman", "helvetica neue", Helvetica, sans-serif;
        margin: auto;
        padding: 6px 40px; }
  section.page-morebenes .row-special ul {
    margin-top: -60px; }
section.page-transfers {
  padding: 54px 0 42px 0;
  background-color: #f8f7f2; }
  section.page-transfers h2 {
    text-align: center;
    display: block;
    margin: auto; }
    section.page-transfers h2:after {
      content: "";
      position: relative;
      height: 1px;
      width: 130px;
      background-color: #c5bbd4;
      display: block;
      clear: both;
      margin: auto;
      margin-top: 10px; }
  section.page-transfers p {
    width: 84%;
    margin: 26px auto;
    font: 400 18px/24px "helvetica-neue-roman", "helvetica neue", Helvetica, sans-serif;
    text-align: center; }
    section.page-transfers p strong {
      font-family: "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif;
      color: #50308d; }
  section.page-transfers p.p-annual-fee {
    margin-bottom: 14px; }
  section.page-transfers .button-group small {
    color: #808080; }
section.page-destinations {
  padding: 60px 0 120px 0; }
  section.page-destinations h2 {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 30px; }
    section.page-destinations h2:after {
      content: "";
      position: relative;
      height: 1px;
      width: 130px;
      background-color: #a595c5;
      display: block;
      clear: both;
      margin: auto;
      margin-top: 10px; }
  section.page-destinations p.lead {
    margin-bottom: 60px; }
  section.page-destinations .destination {
    margin: 0 !important;
    padding: 0 !important; }
    section.page-destinations .destination img {
      width: 100%; }
    section.page-destinations .destination > div {
      background-color: #a7268e;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      font: 700 18px/24px "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif;
      -moz-box-shadow: inset 0 0 50px #7f1763;
      -webkit-box-shadow: inset 0 0 50px #7f1763;
      box-shadow: inset 0 0 50px #7f1763;
      padding: 22px 0px; }

footer.page-footer {
  background-color: #f4f2e9;
  padding: 60px 0;
  font: 400 15px/18px "helvetica-neue-roman", "helvetica neue", Helvetica, sans-serif;
  color: #464646; }
  footer.page-footer strong {
    font: 700 15px/1.4em "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif; }
  footer.page-footer a {
    text-decoration: underline;
    color: #464646; }
  footer.page-footer p {
    margin-bottom: 16px; }
    footer.page-footer p sup {
      font: inherit;
      vertical-align: inherit;
      top: auto; }
  footer.page-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    display: block;
    clear: both;
    overflow: hidden;
    margin-left: -10px; }
    footer.page-footer ul li {
      float: left;
      padding: 10px; }

@media only screen and (max-device-width: 1200px), (max-width: 1200px) {
  .container-fluid {
    padding-right: 10px;
    padding-left: 10px; }

  section.page-hero .hero-card img {
    margin-top: 20px;
    width: 140%;
    margin-left: -12%; }

  section.page-hero h1 {
    font-size: 40px; } }
@media only screen and (max-device-width: 991px), (max-width: 991px) {
  section.page-herobenes .bene-companion,
  section.page-herobenes .bene-bag,
  section.page-herobenes .bene-miles {
    padding: 20px 10px; }

  section.page-destinations .destination > div {
    font-size: 14px; }

  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0 !important; }

  .navbar.navbar-default .navbar-brand img {
    width: 140px; }

  section h2 {
    font-size: 26px;
    line-height: 1.2em;
    margin-bottom: 30px; }

  section p.lead {
    font-size: 15px; }

  section.page-hero h1 {
    font-size: 30px;
    line-height: 1.4em;
    margin-bottom: 2px; }

  section.page-hero h1 small {
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 6px; }

  section.page-hero p {
    font-size: 14px;
    line-height: 1.4em; }

  section.page-herobenes h2 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0px; }

  section.page-herobenes p {
    font-size: 12px;
    line-height: 20px;
    line-height: 1.4em; }

  section.page-morebenes ul li strong {
    font-size: 20px;
    line-height: 1.4em; }

  section.page-morebenes ul li p {
    font-size: 16px;
    line-height: 22px; } }
@media only screen and (max-device-width: 767px), (max-width: 767px) {
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px; }

  .navbar {
    margin-bottom: 0 !important; }

  .navbar.navbar-default {
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0px 0px 10px #808080; }
    .navbar.navbar-default .navbar-header {
      float: none;
      height: 60px;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
      .navbar.navbar-default .navbar-header .navbar-brand {
        padding: 12px 0; }
        .navbar.navbar-default .navbar-header .navbar-brand img {
          width: 120px; }
    .navbar.navbar-default .navbar-left,
    .navbar.navbar-default .navbar-right {
      float: none !important; }
    .navbar.navbar-default .navbar-toggle {
      margin: 0;
      display: block;
      border-width: 0;
      width: auto;
      padding: 10px;
      background-color: transparent;
      margin-top: 10px;
      margin-right: -14px; }
      .navbar.navbar-default .navbar-toggle .icon-bar {
        height: 3px;
        margin-bottom: 5px;
        background-color: #424242;
        width: 30px; }
        .navbar.navbar-default .navbar-toggle .icon-bar:last-child {
          margin-bottom: 0; }
      .navbar.navbar-default .navbar-toggle:focus, .navbar.navbar-default .navbar-toggle:hover {
        background-color: transparent; }
      .navbar.navbar-default .navbar-toggle:focus .icon-bar, .navbar.navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #a7268e; }
    .navbar.navbar-default .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      max-height: 216px !important; }
    .navbar.navbar-default .navbar-nav {
      float: none !important;
      margin-top: 7.5px; }
      .navbar.navbar-default .navbar-nav > li {
        float: none;
        border-top: 1px solid #d9d9d9; }
    .navbar.navbar-default ul.nav.navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      height: auto;
      text-align: left;
      color: #464646; }
    .navbar.navbar-default .container-fluid > .navbar-collapse {
      margin-left: -15px;
      margin-right: -15px;
      width: 100%;
      margin: 0; }

  section {
    border-top: 1px solid #eebddd;
    border-width: 1px 0 0 0; }
    section h2 {
      margin-bottom: 30px; }

  section.page-hero {
    margin-top: 0;
    margin-top: 60px;
    padding-top: 0;
    height: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6d9ec+0,ffffff+20 */
    background: #f6d9ec;
    background: -moz-linear-gradient(top, #f6d9ec 0%, white 20%);
    background: -webkit-linear-gradient(top, #f6d9ec 0%, white 20%);
    background: linear-gradient(to bottom, #f6d9ec 0%, white 20%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d9ec', endColorstr='#ffffff',GradientType=0 );
    border-bottom-width: 0; }
    section.page-hero .container-fluid {
      padding: 0;
      margin: 0; }
    section.page-hero .hero-headline {
      padding: 0;
      margin: 0;
      padding-top: 0;
      padding: 24px 10px;
      padding-bottom: 0; }
      section.page-hero .hero-headline h1 {
        margin-top: 0; }
      section.page-hero .hero-headline img {
        margin-top: 0; }
    section.page-hero .hero-card {
      margin-top: 0;
      padding-top: 0; }
      section.page-hero .hero-card img {
        margin-left: 0;
        width: 90%;
        margin-top: -50px; }

  section.page-herobenes {
    padding: 30px 0; }
    section.page-herobenes h2 {
      height: auto;
      margin-bottom: 10px; }
    section.page-herobenes .bene {
      width: 100%;
      margin-bottom: 20px;
      padding-left: 14px;
      padding-right: 14px;
      height: auto; }
      section.page-herobenes .bene:before {
        display: none; }
      section.page-herobenes .bene:last-child {
        margin-bottom: 0; }

  section.page-morebenes {
    padding: 30px 0; }
    section.page-morebenes h2 {
      height: auto; }
    section.page-morebenes .row-special ul {
      margin-top: 0; }
    section.page-morebenes ul li,
    section.page-morebenes .li-tickets,
    section.page-morebenes .li-gift,
    section.page-morebenes .row-special ul li {
      height: auto;
      padding: 0; }
      section.page-morebenes ul li img,
      section.page-morebenes .li-tickets img,
      section.page-morebenes .li-gift img,
      section.page-morebenes .row-special ul li img {
        width: 70px; }
      section.page-morebenes ul li p,
      section.page-morebenes .li-tickets p,
      section.page-morebenes .li-gift p,
      section.page-morebenes .row-special ul li p {
        padding: 0; }
    section.page-morebenes .box {
      margin: 0;
      padding: 0;
      border-width: 0; }

  section.page-transfers {
    padding: 30px 0 6px 0; }
    section.page-transfers h2:after {
      display: none; }
    section.page-transfers p.lead {
      width: 100%; }

  section.page-destinations {
    padding: 30px 0 0 0; }
    section.page-destinations .container-fluid {
      padding-left: 0;
      padding-right: 0; }
    section.page-destinations h2:after {
      display: none; }
    section.page-destinations p.lead {
      margin-bottom: 30px;
      width: 100%; }
    section.page-destinations .destination {
      width: 50%; }

  footer.page-footer {
    padding: 30px 0;
    font-size: 12px; }

  .button-group.button-group-mobile {
    margin-bottom: 24px; } }
@media only screen and (max-device-width: 480px), (max-width: 480px) {
  section.page-hero {
    height: auto; }
    section.page-hero .hero-card {
      margin-top: 0; }
      section.page-hero .hero-card img {
        margin-top: 0; }
    section.page-hero p {
      margin-bottom: 0; }

  section.page-hero .hero-card img {
    width: 120%;
    margin-left: -10%; }

  .button-group.button-group-mobile {
    margin-top: -22px; }

  section.page-destinations .destination {
    width: 100%;
    clear: both; }

  section h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px; }

  section p.lead {
    font-size: 15px; }

  section.page-hero h1 {
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 6px; }

  section.page-hero h1 small {
    font-size: 15px;
    line-height: 1.4em;
    margin-bottom: 6px; }

  section.page-hero p {
    font-size: 13px;
    line-height: 1.4em; }

  section.page-herobenes h2 {
    font-size: 20px;
    line-height: 1.1em;
    margin-bottom: 0px; }

  section.page-herobenes p {
    font-size: 16px;
    line-height: 1.4em; }

  section.page-morebenes ul li strong {
    font-size: 20px;
    line-height: 1.4em; }

  section.page-morebenes ul li p {
    font-size: 16px;
    line-height: 1.4em; }

  footer.page-footer,
  footer.page-footer strong {
    font-size: 12px;
    line-height: 17px; } }
footer .container-fluid {
  position: relative; }

footer.page-footer img.logo.pull-right {
  position: absolute;
  right: 0;
  top: -28px;
  width: 220px; }

@media only screen and (max-device-width: 767px), (max-width: 767px) {
  footer.page-footer img.logo.pull-right {
    position: relative;
    clear: both;
    margin: auto;
    top: auto;
    width: 220px; } }

/*# sourceMappingURL=main-noheader-mld.css.map */
