html {
  box-sizing: border-box; }

*, *:before,
*:after {
  box-sizing: inherit; }

.clear:after, .clear:before {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: "helvetica-neue-roman";
  src: url("../fonts/helvetica_neue_roman.eot");
  src: url("../fonts/helvetica_neue_roman.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_neue_roman.woff") format("woff"), url("../fonts/helvetica_neue_roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "helvetica-neue-bold";
  src: url("../fonts/helvetica_neue_bold.eot");
  src: url("../fonts/helvetica_neue_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_neue_bold.woff") format("woff"), url("../fonts/helvetica_neue_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "futura-book";
  src: url("../fonts/JBFuturaStd-Book.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "futura-semibold";
  src: url("../fonts/JBFuturaStd-SemiBold.otf");
  font-weight: 600;
  font-style: normal; }
section {
  clear: both;
  overflow: hidden; }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  max-width: 1266px; }

body {
  position: relative;
  z-index: 1; }

.button-group {
  text-align: center;
  position: relative;
  margin-top: 6px; }
  .button-group .btn.btn-apply {
    color: #ffffff;
    text-transform: uppercase;
    font: 700 22px/1em "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif;
    display: inline-block;
    border-radius: 5px;
    padding: 18px 0;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 254px;
    height: 60px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .button-group .btn.btn-apply:hover, .button-group .btn.btn-apply:focus {
      color: #ffffff;
      outline: 0; }
    .button-group .btn.btn-apply.btn-plus {
      background-color: #3464c4;
      border-bottom: 3px solid #68b950; }
      .button-group .btn.btn-apply.btn-plus:hover, .button-group .btn.btn-apply.btn-plus:focus {
        background-color: #3d74e7; }
    .button-group .btn.btn-apply.btn-reg {
      background-color: #58a342;
      border-bottom: 3px solid #3d74e7; }
      .button-group .btn.btn-apply.btn-reg:hover, .button-group .btn.btn-apply.btn-reg:focus {
        background-color: #68b950; }

.menu-buttons {
  display: none;
  width: 100%;
  border: 1px solid #ffffff;
  border-width: 1px 0;
  padding: 6px;
  margin-top: 0;
  overflow: hidden; }
  .menu-buttons span {
    color: #ffffff; }
  .menu-buttons .col-xs-6 {
    position: relative; }
  .menu-buttons .col-xs-6:first-child {
    padding-left: 0;
    padding-right: 6px; }
  .menu-buttons .col-xs-6:last-child {
    padding-right: 0;
    padding-left: 6px; }
  .menu-buttons .col-xs-6:first-child:after {
    content: "|";
    color: #ffffff;
    position: absolute;
    right: -2px;
    top: 5px; }

.menu-buttons.button-group .btn.btn-apply {
  height: 30px;
  font: 12px/1em "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif;
  max-width: 300px;
  display: inline-block;
  padding: 8px 30px;
  width: 100%;
  border-radius: 3px; }

a {
  outline: 0; }

.theline {
  background-color: #ffffff;
  position: absolute;
  top: 304px;
  left: 49.7%;
  width: 0.6%;
  z-index: 10;
  display: none;
  max-width: 7px; }
  .theline .fill-casing {
    overflow: hidden; }
  .theline .fill {
    background-color: #80bade;
    width: 100%; }
  .theline .nubbin,
  .theline .nubbin-empty {
    content: "";
    width: 54px;
    height: 54px;
    display: block;
    position: absolute;
    left: -24px;
    top: -40px; }
  .theline .nubbin-empty {
    z-index: 1;
    background: url("../images/nubbin-empty.png") top left no-repeat; }
  .theline .nubbin {
    z-index: 2;
    background: url("../images/nubbin.png") top left no-repeat;
    height: 0; }

@media only screen and (max-device-width: 767px), (max-width: 767px) {
  .theline {
    width: 3px; }
    .theline .nubbin,
    .theline .nubbin-empty {
      display: none; } }
.table {
  width: 100%;
  display: table;
  margin-bottom: 0; }

.tr {
  display: table-row; }

.td {
  display: table-cell; }

.social {
  margin: 0 6px; }

.accordion {
  background-color: #ffffff; }
  .accordion .ui-state-active,
  .accordion .ui-widget-content .ui-state-active,
  .accordion .ui-widget-header .ui-state-active {
    background-color: transparent !important;
    border-width: 0;
    outline: 0; }
  .accordion .ui-state-default,
  .accordion .ui-widget-content .ui-state-default,
  .accordion .ui-widget-header .ui-state-default {
    background-color: transparent !important;
    border-width: 0; }
  .accordion .ui-widget-content {
    border-width: 0; }

.accordion {
  padding: 20px; }
  .accordion p {
    padding: 0;
    margin: 0;
    color: #696969;
    font: 16px/1.2em "helvetica-neue-roman", "helvetica neue", Helvetica, sans-serif; }
  .accordion h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    color: #4c8cc3;
    font: 19px/1.1em "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif;
    text-transform: uppercase;
    display: block; }

.accordion-header {
  padding: 0;
  margin: 0;
  color: #0e224e;
  font: 22px/1em "helvetica-neue-roman", "helvetica neue", Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
  display: block;
  position: relative;
  background-color: #ffffff; }

.fancybox-skin {
  background-color: #ffffff !important; }

.navbar.navbar-default {
  background-color: transparent;
  border-width: 0;
  left: 0;
  top: 0;
  border-radius: 0;
  width: 100%;
  z-index: 4;
  z-index: 999; }
  .navbar.navbar-default .navbar-header {
    height: 50px; }
  .navbar.navbar-default ul.nav.navbar-nav {
    text-align: right;
    position: relative; }
    .navbar.navbar-default ul.nav.navbar-nav > li > a {
      font: 400 16px/19px "futura-book", "Futura Book", Futura, helvetica, sans-serif;
      color: #ffffff;
      height: 50px;
      padding: 14px; }
      .navbar.navbar-default ul.nav.navbar-nav > li > a:hover {
        color: #a4c6e5; }
      .navbar.navbar-default ul.nav.navbar-nav > li > a:active, .navbar.navbar-default ul.nav.navbar-nav > li > a:focus {
        border-width: 0;
        outline: 0; }
  .navbar.navbar-default .pipe {
    display: inline-block;
    position: relative;
    height: 22px;
    width: 1px;
    background-color: #ffffff;
    margin-top: 12px; }

.navbar.navbar-default.not-scrolled {
  background-color: transparent; }
  .navbar.navbar-default.not-scrolled a {
    color: #ffffff; }

.navbar.navbar-default.scrolled {
  background-color: rgba(255, 255, 255, 0.8); }
  .navbar.navbar-default.scrolled ul.nav.navbar-nav > li > a {
    color: #3464c4; }
  .navbar.navbar-default.scrolled .pipe {
    background-color: #3464c4; }

@media only screen and (max-device-width: 767px), (max-width: 767px) {
  .navbar {
    margin-bottom: 0 !important; }

  .navbar.navbar-default {
    background-color: transparent;
    z-index: 999; }
    .navbar.navbar-default .container-fluid {
      padding: 0;
      margin: 0; }
    .navbar.navbar-default .li-pipe {
      display: none; }
    .navbar.navbar-default .navbar-header {
      float: none;
      height: 44px;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
    .navbar.navbar-default .navbar-toggle {
      margin: 0;
      display: block;
      border-width: 0;
      width: auto;
      padding: 10px;
      background-color: transparent;
      margin-top: 8px; }
      .navbar.navbar-default .navbar-toggle .icon-bar {
        height: 3px;
        margin-bottom: 5px;
        background-color: #ffffff;
        width: 30px; }
        .navbar.navbar-default .navbar-toggle .icon-bar:last-child {
          margin-bottom: 0; }
      .navbar.navbar-default .navbar-toggle:focus, .navbar.navbar-default .navbar-toggle:hover {
        background-color: transparent; }
      .navbar.navbar-default .navbar-toggle:focus .icon-bar, .navbar.navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #ffffff; }
    .navbar.navbar-default .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      max-height: 216px !important;
      background-color: #ffffff;
      margin: 0; }
    .navbar.navbar-default .navbar-nav {
      float: none !important;
      margin: 0; }
      .navbar.navbar-default .navbar-nav > li {
        float: none;
        border-top: 1px solid #d9d9d9; }
        .navbar.navbar-default .navbar-nav > li:first-child {
          border-top-width: 0; }
    .navbar.navbar-default ul.nav.navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      height: auto;
      text-align: left;
      color: #000000; }
    .navbar.navbar-default .container-fluid > .navbar-collapse {
      margin-left: -15px;
      margin-right: -15px;
      width: 100%;
      margin: 0; }

  .navbar.navbar-default.scrolled {
    background-color: #0e224e;
    height: 44px;
    min-height: 44px; }
    .navbar.navbar-default.scrolled .menu-buttons {
      display: block !important; }
    .navbar.navbar-default.scrolled .navbar-header {
      display: none; }

  .navbar.navbar-default.not-scrolled .menu-buttons {
    display: none; }
  .navbar.navbar-default.not-scrolled .navbar-header {
    display: block; } }
section.section-hero {
  background: #0e224e url("../images/bg-bluegradient.jpg") repeat-x center bottom;
  height: 420px;
  padding: 56px 10px 0 10px;
  border-bottom: 1px solid #ffffff;
  position: relative; }
  section.section-hero:after, section.section-hero:before {
    content: "";
    display: table;
    clear: both; }
  section.section-hero h1 {
    padding: 0;
    margin: 0;
    font: 60px/1.1em "futura-book", "Futura Book", Futura, helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase; }
  section.section-hero p.lead {
    color: #a4c6e5;
    text-transform: uppercase;
    font: 35px/1.1em "futura-book", "Futura Book", Futura, helvetica, sans-serif;
    text-align: center; }
  section.section-hero .col {
    height: 200px; }
  section.section-hero .img-plus,
  section.section-hero .buttons-plus {
    float: left; }
  section.section-hero .img-reg,
  section.section-hero .buttons-reg {
    float: right; }
  section.section-hero .button-group.buttons-reg {
    padding-right: 30px;
    padding-left: 0; }
  section.section-hero .button-group.buttons-plus {
    padding-left: 30px;
    padding-right: 0; }
  section.section-hero .col-plus {
    padding-right: 36px; }
  section.section-hero .col-reg {
    padding-left: 36px; }
  section.section-hero .button-group {
    width: 50%;
    max-width: 300px;
    padding: 0 12px;
    padding-top: 50px; }
    section.section-hero .button-group small {
      color: #ffffff;
      font: 14px/1.2em "futura-book", "Futura Book", Futura, helvetica, sans-serif; }
    section.section-hero .button-group p {
      font: 20px/1.2em "futura-book", "Futura Book", Futura, helvetica, sans-serif;
      text-transform: uppercase; }
      section.section-hero .button-group p sup {
        font-size: 50%;
        top: -0.9em; }
    section.section-hero .button-group .btn.btn-apply {
      width: 100%;
      margin-bottom: 16px; }
  section.section-hero .buttons-plus p,
  section.section-hero .card-name-plus {
    color: #a4c6e5; }
  section.section-hero .buttons-reg p,
  section.section-hero .card-name-reg {
    color: #d1ffc4; }
  section.section-hero .card-name {
    display: block;
    font: 18px/1.2em "futura-book", "Futura Book", Futura, helvetica, sans-serif;
    margin-bottom: 6px;
    text-align: center; }
  section.section-hero .img-wrapper {
    min-height: 200px;
    width: 50%;
    max-width: 290px;
    display: block;
    overflow: hidden; }
    section.section-hero .img-wrapper img {
      width: 100%; }
  section.section-hero .img-wrapper-reg {
    float: right; }
  section.section-hero .img-wrapper-plus {
    float: left; }

@media only screen and (max-device-width: 960px), (max-width: 960px) {
  section.section-hero h1 {
    font-size: 50px; }
  section.section-hero small {
    display: none; }
  section.section-hero .button-group p,
  section.section-hero .card-name {
    font-size: 14px; }
  section.section-hero .button-group .btn.btn-apply {
    font-size: 18px;
    height: 50px;
    padding: 14px 0; } }
@media only screen and (max-device-width: 767px), (max-width: 767px) {
  section.section-hero {
    padding-top: 48px;
    z-index: 14;
    height: auto; }
    section.section-hero h1 {
      font-size: 30px; }
    section.section-hero p.lead {
      font-size: 20px; }
    section.section-hero .img-wrapper {
      width: 100%;
      clear: both;
      float: none;
      margin: auto;
      min-height: auto; }
    section.section-hero .button-group {
      width: 100%;
      clear: both;
      max-width: 290px;
      padding-top: 0;
      float: none; }
    section.section-hero p {
      font-size: 12px; }
    section.section-hero .col-plus {
      height: auto; }

  section.section-hero .button-group.buttons-reg,
  section.section-hero .button-group.buttons-plus {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    margin-top: 10px; } }
@media only screen and (max-device-width: 480px), (max-width: 480px) {
  section.section-hero {
    padding-left: 6px;
    padding-right: 6px; }
    section.section-hero .col {
      height: auto; }
    section.section-hero h1 {
      font-size: 21px; }
    section.section-hero p.lead {
      font-size: 16px; }
    section.section-hero .card-name,
    section.section-hero .button-group p {
      font-size: 12px; }
    section.section-hero .button-group {
      padding: 0; }
    section.section-hero .button-group .btn.btn-apply {
      height: 30px;
      font-size: 12px;
      padding: 7px;
      letter-spacing: 0.5px;
      border-bottom-width: 2px;
      margin-bottom: 10px; }
    section.section-hero .col-xs-6 {
      padding-left: 12px;
      padding-right: 12px; }
    section.section-hero .row {
      margin-left: -10px;
      margin-right: -10px; } }
section.section-herodetails .col {
  padding: 0;
  margin: 0; }
section.section-herodetails h2 {
  padding: 0;
  margin: 0;
  width: 100%;
  color: #ffffff;
  display: block;
  font: 26px/1.2em "futura-semibold", "Futura Semibold", Futura, helvetica, sans-serif;
  padding: 18px 4px;
  text-align: center; }
  section.section-herodetails h2 small {
    font: 16px/1.2em "futura-book", "Futura Book", Futura, helvetica, sans-serif;
    display: block;
    color: #ffffff; }
section.section-herodetails ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center; }
section.section-herodetails li {
  padding: 20px; }
section.section-herodetails li:nth-child(even) {
  background-color: #fafbfd; }
section.section-herodetails li strong {
  display: block;
  font: 30px/1em "futura-semibold", "Futura Semibold", Futura, helvetica, sans-serif; }
section.section-herodetails li p {
  font: 21px/1em "futura-book", "Futura Book", Futura, helvetica, sans-serif; }
  section.section-herodetails li p sup {
    top: -0.6em;
    font-size: 50%; }
section.section-herodetails .col-plus h2 {
  background-color: #0e224e; }
section.section-herodetails .col-plus li {
  color: #0e224e; }
section.section-herodetails .col-reg h2 {
  background-color: #006945; }
section.section-herodetails .col-reg li {
  color: #006945; }

@media only screen and (max-device-width: 767px), (max-width: 767px) {
  section.section-herodetails h2 {
    font-size: 20px; } }
@media only screen and (max-device-width: 480px), (max-width: 480px) {
  section.section-herodetails h2 {
    font-size: 15px;
    height: 72px;
    padding: 10px 4px; }
  section.section-herodetails h2 small {
    margin-top: 8px;
    font-size: 10px; }
  section.section-herodetails li {
    padding: 16px 6px; }
  section.section-herodetails li strong {
    font-size: 16px;
    margin-bottom: 4px; }
  section.section-herodetails li p {
    font-size: 13px; } }
section.section-benes {
  text-align: center;
  z-index: 1; }
  section.section-benes img {
    display: inline-block;
    width: 44px; }
  section.section-benes h2 {
    padding: 0;
    margin: 0;
    background-color: #0e224e;
    color: #ffffff;
    font: 22px/1em "helvetica-neue-roman", "helvetica neue", Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    padding: 10px;
    z-index: 12;
    display: block;
    position: relative; }
    section.section-benes h2 sup {
      top: -0.9em;
      font-size: 50%; }
  section.section-benes h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    color: #4c8cc3;
    font: 19px/1.1em "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif;
    text-transform: uppercase;
    display: block; }
  section.section-benes p {
    padding: 0;
    margin: 0;
    color: #696969;
    font: 16px/1.2em "helvetica-neue-roman", "helvetica neue", Helvetica, sans-serif; }
  section.section-benes .table .tr:nth-child(even) {
    background-color: #fafbfd;
    z-index: 9;
    position: relative; }
  section.section-benes .table .tr:nth-child(even).td-inner {
    background-color: #fafbfd; }
  section.section-benes .table .tr:nth-child(odd) .td-inner {
    background-color: #ffffff; }
  section.section-benes .td-inner {
    background-color: #fafbfd;
    z-index: 11;
    position: relative;
    height: 106px;
    display: block;
    margin-top: 3px;
    margin-bottom: 3px; }
  section.section-benes .td {
    width: 26%;
    vertical-align: middle;
    height: 112px; }
    section.section-benes .td:first-child {
      text-align: right; }
    section.section-benes .td:last-child {
      text-align: left; }
  section.section-benes .td-benefit {
    width: 48%;
    max-width: 450px;
    min-width: 324px; }

@media only screen and (max-device-width: 960px), (max-width: 960px) {
  section.section-benes .td {
    width: 20%; }
  section.section-benes .td-benefit {
    width: 50%; } }
@media only screen and (max-device-width: 767px), (max-width: 767px) {
  section.section-benes .td-inner {
    height: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    margin: 0; }

  section.section-benes .td-benefit,
  section.section-benes .td {
    height: auto; }

  section.section-benes .td-benefit {
    padding: 3px 0; } }
    
@media only screen and (max-device-width: 480px), (max-width: 480px) {
  section.section-benes h3 {
    font-size: 13px; }
  section.section-benes p {
    font-size: 11px; }
  section.section-benes img {
    width: 22px; }
  section.section-benes .td {
    height: auto; }
  section.section-benes .td-benefit {
    width: 50%;
    max-width: 450px;
    min-width: 212px;
    padding: 3px 0;
    height: auto; } }
div.section-btmcards {
  padding-top: 60px;
  padding-bottom: 100px; }
  div.section-btmcards:after, div.section-btmcards:before {
    content: "";
    display: table;
    clear: both; }
  div.section-btmcards .col {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px; }
  div.section-btmcards .img-card {
    width: 254px;
    display: inline-block; }
  div.section-btmcards .btn.btn-apply {
    width: 250px;
    display: inline-block;
    margin-bottom: 8px; }
  div.section-btmcards small {
    display: block;
    color: #0e224e;
    font: 17px/1.2em "futura-book", "Futura Book", Futura, helvetica, sans-serif;
    margin-bottom: 4px; }
  div.section-btmcards p {
    color: #0e224e;
    text-transform: uppercase;
    font: 20px/1.2em "futura-book", "Futura Book", Futura, helvetica, sans-serif; }
    div.section-btmcards p sup {
      font-size: 50%;
      top: -0.8em; }

@media only screen and (max-device-width: 767px), (max-width: 767px) {
  div.section-btmcards {
    padding-top: 20px;
    padding-bottom: 30px; }
    div.section-btmcards .img-card {
      width: 142px; }
    div.section-btmcards .btn.btn-apply {
      width: 140px;
      font: 11px/1em "helvetica-neue-bold", "helvetica neue", Helvetica, sans-serif;
      height: 28px;
      border-radius: 3px;
      padding: 7px 0; }
    div.section-btmcards .button-group .btn.btn-apply.btn-reg,
    div.section-btmcards .button-group .btn.btn-apply.btn-plus {
      border-bottom: 0 solid transparent; }
    div.section-btmcards small {
      display: none; }
    div.section-btmcards p {
      font-size: 12px; } }
footer.page-footer {
  background-color: #e5e5e5;
  color: #696969;
  padding: 26px 10px 80px;
  z-index: 14;
  position: relative; }
  footer.page-footer a {
    text-decoration: underline;
    color: #696969; }
  footer.page-footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 16px; }
    footer.page-footer ul:first-child {
      float: left;
      margin-right: 40px;
      margin-bottom: 0; }
    footer.page-footer ul .ul-privacy {
      clear: both; }
      footer.page-footer ul .ul-privacy:after, footer.page-footer ul .ul-privacy:before {
        content: "";
        display: table;
        clear: both; }
    footer.page-footer ul li {
      font-size: 12px;
      margin-bottom: 16px; }
  footer.page-footer p {
    margin-bottom: 16px;
    font: 11px/1.2em Verdana;
    
    margin-left: 6px; }
    footer.page-footer p sup {
      display: relative;
      font-size: 1em;
      top: auto; }
      footer.page-footer p sup:after {
        content: ". ";
        display: inline;
        position: relative; }
  footer.page-footer .pull-left {
    width: 480px; }

@media only screen and (max-device-width: 767px), (max-width: 767px) {
  footer.page-footer .pull-right {
    display: none; }
  footer.page-footer ul li {
    font-size: 11px;
    margin-bottom: 0; }
  footer.page-footer ul:first-child {
    float: none;
    margin-right: 0;
    margin-bottom: 18px; }
  footer.page-footer .pull-left {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
