/* line 3, /Users/maryann/Sites/steph2/source/stylesheets/base.sass */
body {
  font-family: "helvetica nueue", helvetica, sans-serif;
  background: #f8f9fb; }

/* line 7, /Users/maryann/Sites/steph2/source/stylesheets/base.sass */
h1 {
  text-indent: -9999px; }

/* line 10, /Users/maryann/Sites/steph2/source/stylesheets/base.sass */
p {
  text-align: center;
  color: #d9d9d9; }

/* line 14, /Users/maryann/Sites/steph2/source/stylesheets/base.sass */
img {
  margin: auto;
  display: block;
  width: 100%; }

/* line 19, /Users/maryann/Sites/steph2/source/stylesheets/base.sass */
.container {
  clear: both;
  width: 40%;
  margin: auto; }

@media only screen and (max-device-width: 760px), (max-width: 760px) {
  /* line 26, /Users/maryann/Sites/steph2/source/stylesheets/base.sass */
  .container {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
    max-width: 90%; } }
