<header>
  <h1>Add Content</h1>
</header>

<ul>
  <li>
    <a href="#name">
      <div class="icon-container"><img class="img-svg" src="../images/icon-page.svg" /></div>
      <div class="content">
        <h2>Page</h2>
        <p>Create pages such as About, Awards, Press...</p>
      </div>
    </a>
  </li>

  <li>
    <a href="#" class="no-go">
      <div class="icon-container"><img class="img-svg" src="../images/icon-gallery.svg" /></div>
      <div class="content">
        <h2>Gallery</h2>
        <p>Create pages such as About, Awards, Press...</p>
      </div>
    </a>
  </li>

  <li>
    <a href="#" class="no-go">
      <div class="icon-container"><img class="img-svg" src="../images/icon-link.svg" /></div>
      <div class="content">
        <h2>Link</h2>
        <p>Link to a URL of your choice</p>
      </div>
    </a>
  </li>
</ul>

<div class="btn-group">
  <a href="#" class="btn btn-link btn-back">Go Back</a>
  <a class="btn btn-link btn-cancel no-go" >Cancel</a>
</div>