<header>
  <h1>Manage Content</h1>
  <a class="btn-link btn-link-primary" href="#add">Add New</a>
</header>

<div id="content">

  <!-- <ul class="list-content list-items">
    <li ng-repeat="item in itemData" class="item-content item-{{checkboxModel.value1}}">
      <div class="cell container-drag"><img src="../images/icon-drag.png"/></div>
      <div class="cell container-icon"><img class="img-svg" src="../images/icon-{{item.type}}.svg"/></div>
      <div class="cell container-title">
        <h2 ng-bind="item.title"></h2>
      </div>
      <div class="cell container-toggle">
        <label class="switch">
          <input class="form-control" type="checkbox" ng-true-value="'enabled'" ng-false-value="'disabled'" ng-model="checkboxModel.value1" id="activation" name="activation">
          <div class="slider round"></div>
        </label>
        {{checkboxModel.value1}}
      </div>
    </li>
  </ul> -->

</div>

<div class="btn-group">
  <a href="#" class="btn btn-primary no-go">Done</a>
  <a class="btn btn-link btn-cancel no-go" >Cancel</a>
</div>