/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
/*end RESET*/


body {font-size: 12px; line-height: 1.5em; background-color: #000; position: block; font-family: sans-serif; }
.main-container{position: block; margin: 50px auto 0 auto; width: 960px; height: 336px;}
h1{color: #43BFC7; font-size:26px; text-align: center; margin: 12px;}
h2{font-size: 22px;}
h3 {font-size: 14px; margin-bottom: 6px;}
.centered {display: block; margin: auto;}
.col-2 {width: 459px; float: left; padding: 10px;}

.hide {display: none;}
a:link {color: #2B60DE;}
a:visited {color: #151B8D;}
a:hover {color: #3BB9FF;}
a:active {color: #2B60DE;}

